TraceEnable off

<VirtualHost *:80>
    {% if fqdn %} 
    ServerName {{ ansible_fqdn }}
    {% end if %}

    # Tell Apache and Passenger where your app's 'public' directory is
    DocumentRoot /var/www/html
    PassengerRuby /usr/bin/ruby

    {% if app_set_root_redirect %}}
    RedirectMatch ^/$ {{ app_root_redirect }}
    {% endif %}

    #include app specific configs in the applications directory
    Include conf.d/applications/*.conf-fragment

</VirtualHost>
