development:
  user: {{ fedora_user}}
  password: {{fedora_password}}
  url: http://{{jetty_url}}:{{jetty_port}}/fedora
test: &TEST  
  user: {{ fedora_user}}
  password: {{fedora_password}}
  url: http://{{jetty_url}}:{{jetty_port}}/fedora-test" %>
production:
  user: {{ fedora_user}}
  password: {{fedora_password}}
  url: http://{{jetty_url}}:{{jetty_port}}/fedora
cucumber:
  <<: *TEST
