#!/bin/sh

### BEGIN INIT INFO
# Provides:             god
# Required-Start:       $all
# Required-Stop:        $all
# Default-Start:        2 3 4 5
# Default-Stop:         0 1 6
# Short-Description:    God
### END INIT INFO

NAME={{rails_app_name}}-god
DESC="Manages the god monitoring process for {{ rails_app_name }}"
USER={{app_user}}
GOD_BIN="bundle exec god"
APP_PATH={{rails_app_install_path}}
GOD_CONFIG=$APP_PATH/config/god/jetty.god
GOD_LOG=$APP_PATH/tmp/god.log

set -e

# Make sure the binary and the config file are present before proceeding
#test -x $GOD_BIN || exit 0

# Create this file and put in a variable called GOD_CONFIG, pointing to
# your God configuration file
test -f $GOD_CONFIG || (echo "config not found" && exit 0)


RETVAL=0

case "$1" in
  start)
    echo -n "Starting $DESC: "
    su $USER -lc "cd $APP_PATH && $GOD_BIN -c $GOD_CONFIG -l $GOD_LOG"
    RETVAL=$?
    echo "$NAME."
    ;;
  stop)
    echo -n "Stopping $DESC: "
    su $USER -lc "cd $APP_PATH && $GOD_BIN quit"
    RETVAL=$?
    echo "$NAME."
    ;;
  restart)
    echo -n "Restarting $DESC: "
    su $USER -lc "cd $APP_PATH && $GOD_BIN quit"
    su $USER -lc "cd $APP_PATH && $GOD_BIN -c $GOD_CONFIG -l $GOD_LOG"
    RETVAL=$?
    echo "$NAME."
    ;;
  status)
    su $USER -lc "cd $APP_PATH && $GOD_BIN status"
    RETVAL=$?
    ;;
  *)
    echo "Usage: god {start|stop|restart|status}"
    exit 1
    ;;
esac

exit $RETVAL